* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(5, 1fr);
}

body>* {
    border: 1px solid black;
}

header {
    grid-area: 1/1/2/3;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
}

header p {
    width: 50%;
    text-align: center;
}

nav {
    grid-area: 2/1/3/3;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 1rem;
}

nav ul li {
    text-transform: uppercase;
    letter-spacing: 3px;
}

main {
    grid-area: 3/1/4/2;
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

main>.section {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

main>.section>h3 {
    margin-bottom: 1rem;
}

.for-table,
.for-iframe {
    display: grid;
    place-items: center;
}

.for-table table {
    width: 80%;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.for-table table td,
.for-table table th {
    border: 1px solid black;
}

iframe {
    margin-bottom: 1rem;
}

main>.section:last-child {
    border: none;
}

article {
    display: grid;
    place-items: center;
}

article details {
    width: 80%;
}

aside {
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    justify-items: center;
    align-items: start;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

aside>h3 {
    grid-area: 1/1/2/2;
    margin-bottom: 1rem;
}

form {
    grid-area: 2/1/3/2;
    display: grid;
}

.form-group {
    display: grid;
}

form {
    width: 80%;
    row-gap: 1rem;
}

label {
    margin-bottom: 0.3rem;
}

input {
    height: 1.7rem;
}

button {
    padding: 0.5rem 0;
}

footer {
    grid-area: 4/1/5/3;
    text-align: center;
}